.post-desktop {
  display: block;
}

.post-mobile {
  display: none;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .post-desktop {
    display: none;
  }

  .post-mobile {
    display: block;
  }
}
